/*==========HOME==========*/
.home {
    width: 100%;
    height: 100vh;
    position: relative;

    &__title {
        width: 100%;
        text-align: center;

        h1 {
            font-size: 3rem;
            font-weight: 800;
            line-height: 4rem;
            margin-bottom: 16px;

            .thin {
                font-weight: 200;
            }
        }

        .text-gray {
            font-size: 1.3rem;
            color: color(gray);

        }

        .stars {
            i {
                color: rgb(255, 196, 0);
            }
        }
    }
}