/*=====================MediaQueries==================*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1200px) {
    .header {

        &__logo {
            span {
                font-size: 1.2rem;
            }

            #logo {
                width: 45px;
                transform: translateY(200%);
            }

            &:hover {
                span {
                    transform: none;
                }

                #logo {
                    transform: translateY(200%);
                }

            }


        }

        &__menu {
            display: none;
        }

        &__button {
            display: none;
        }

        &__button-mobile {
            display: flex;
        }

        &__menu-mobile {
            display: flex;
        }
    }

    .header.active {
        background: color(black);

        .header__logo {
            span {
                color: color(white);
            }
        }
    }

    .proccess {
        &__proccesing {
            .container {
                width: 86%;

                .phase {
                    .number {
                        width: 20%;
                    }

                    .text {
                        width: 70%;
                    }
                }

            }
        }
    }


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 481px) {
    .header {
        &__logo {
            span {
                font-size: 1rem;
            }

            #logo {
                width: 40px;
            }
        }

        &__menu-mobile {
            top: 70px;

            li.social {
                margin-top: 5rem;

            }
        }

    }

    .footer {
        &__center {
            .footer-list {
                gap: 3rem;
                flex-direction: column;
            }
        }

        &__socials {
            .socials {
                width: 100%;

                li {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .home {
        &__title {
            h1 {
                font-size: 2rem;
                line-height: normal;
            }
        }
    }

    .proccess {
        &__about {
            padding-bottom: 13px;

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .title {
                    width: 100%;
                }

                .image {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 80%;
                }
            }
        }



        &__proccesing {
            .container {

                .phase {
                    flex-direction: column;
                    gap: 2rem;

                    .number {
                        width: 40%;
                    }

                    .text {
                        width: 100%;

                        .title {
                            font-size: 2rem;
                            text-align: center;
                        }

                        p {
                            text-align: justify;
                        }
                    }
                }

            }
        }
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) {}