/*=============== LAYOUT ===============*/
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 16px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 12px 36px;
    cursor: pointer;
    border: 1px solid color(black);
    border-radius: 2px;

}


#bg_stars {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    z-index: -1;
}
  